:root {
  --card-width: 100px;
  --card-height: 138px;
  --computer-offset: translate(10px, 10px);
  --player-offset: translate(189px, 350px);
  --card-scale: scale(0.55);
  --svg-position-computer: 0% 0%;
  --svg-position-player: 0% 0%;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.main {
  background-color: #d6beb8;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.h1 {
  text-align: center;
}

.play_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 500px;
  background-color:chartreuse;
  border: solid 3px #fff;
  box-shadow: #333 0 0 7px;
  align-self: center;
  position: relative;
}

.computer {
  position: absolute;
  transform-origin: top left;
  transform: var(--computer-offset);
}

.player {
  position: absolute;
  transform-origin: top left;
  transform: var(--player-offset);
}


.card_container {
  background-color: orange;
  width: var(--card-width);
  height: var(--card-height);
  display: block;
  overflow: hidden;
}

.card {
  transform-origin: top left;
  transform: var(--card-scale);
}

.front {
  backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
}

/* section .card_container {
  perspective: 1000px;
} */

section .card_container:hover .flip {
  transform: rotateY(180deg);
}

.flip {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.player .face {
  object-position: var(--svg-position-player);
}

.computer .face {
  object-position: var(--svg-position-computer);
}

/* .card {
  transform-origin: top left;
  transform: scale(0.55);
  object-position: 0% 0%;
} */


.button_draw {
  align-self: center;
  background: radial-gradient(hsl(15, 100%, 50%), hsl(15, 100%, 40%));

  font-size: 1.4rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: solid 1px hsl(15, 100%, 20%);
  border-radius: 10%;
  height: 35px;
  width: 120px;
  z-index: 4;

  outline: none;

  box-shadow: inset 0 1px 0 hsl(15, 100%, 50%),
                    0 2px 0 hsl(15, 100%, 20%),
                    0 3px 0 hsl(15, 100%, 18%),
                    0 4px 0 hsl(15, 100%, 16%),
                    0 5px 0 hsl(15, 100%, 14%),
                    0 6px 0 hsl(15, 100%, 12%)
}