:root {
  --card-width: 100px;
  --card-height: 138px;
  --computer-offset: translate(10px, 10px);
  --player-offset: translate(189px, 350px);
  --player-name-offset: translate(160px, 389px);
  --computer-name-offset: translate(30px, 49px);
  --card-scale: scale(0.55);
  --svg-position-computer: 0% 0%;
  --svg-position-player: 0% 0%;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  width: 350px;
  height: 560px;
  z-index: 4;
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(250, 250, 250, 0.85);
  align-self: center;
  border: solid 5px #fff;
  box-shadow: inset 0 0 10px rgb(10, 10, 10);
}

.main {
  background-color: #d6beb8;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.h1 {
  text-align: center;
}

.play_area {
  width: 300px;
  height: 500px;
  background-color:chartreuse;
  border: solid 3px #fff;
  box-shadow: #333 0 0 7px;
  align-self: center;
  position: relative;
}

.computer {
  position: absolute;
  transform-origin: top left;
  transform: var(--computer-offset);
}

.player {
  position: absolute;
  transform-origin: top left;
  transform: var(--player-offset);
}

.name {
  z-index: 3;
  position: absolute;
  transform-origin: center;
  font-family: Comic Sans MS;
  font-size: 2rem;
  color: #000;
  text-shadow: 2px 2px 0px #e7eef1, 5px 5px 0px rgba(0,0,0,0.1);
}

.comp-title {
  transform: var(--computer-name-offset);
}

.play-title {
  transform: var(--player-name-offset);
}

.card_container {
  width: var(--card-width);
  height: var(--card-height);
  display: block;
  overflow: hidden;
  border: solid 1px #fff;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgb(10, 10, 10);
}

.deck {
  z-index: 2;
}

.card {
  transform-origin: top left;
  transform: var(--card-scale);
}

.player .face {
  object-position: var(--svg-position-player);
}

.computer .face {
  object-position: var(--svg-position-computer);
}

.computer-face-card {
  animation: draw 3s;
  animation-fill-mode: forwards;
}

.player-face-card {
  animation: draw-player 3s;
  animation-fill-mode: forwards;
}

.whoWon {
  display: none;
}

@keyframes draw {
  0% {left: 0px; top: 0px}
  50% {left: 0px; top: 170px}
  90% {left: 38px; top: 170px}
  95% {left: 30px; top: 170px}
  100% {left: 38px; top: 170px}
}

@keyframes draw-player {
  0% {left: 0px; top: 0px}
  50% {left: 0px; top: -170px}
  90% {left: -38px; top: -170px}
  95% {left: -30px; top: -170px}
  100% {left: -38px; top: -170px}
}

@keyframes spin-card {
  0% {transform: rotate(0deg)}
  60% {transform: rotate(0deg)}
  100% {transform: rotate(720deg)}
}

@keyframes spin-card {
  0% {transform: shrink(1)}
  60% {transform: shrink(1)}
  100% {transform: shrink(0)}
}

.score {
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.button_draw {
  align-self: center;
  background: radial-gradient(hsl(15, 100%, 50%), hsl(15, 100%, 40%));

  font-size: 1.4rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: solid 1px hsl(15, 100%, 20%);
  border-radius: 10px;
  height: 35px;
  width: 120px;
  z-index: 4;

  outline: none;

  box-shadow: inset 0 1px 0 hsl(15, 100%, 50%),
                    0 2px 0 hsl(15, 100%, 20%),
                    0 3px 0 hsl(15, 100%, 18%),
                    0 4px 0 hsl(15, 100%, 16%),
                    0 5px 0 hsl(15, 100%, 14%),
                    0 6px 0 hsl(15, 100%, 12%)
}

.button_draw:hover {
  background: radial-gradient(hsl(15, 100%, 60%), hsl(15, 100%, 50%));
}

.button_draw:active {
  background: radial-gradient(hsl(15, 100%, 40%), hsl(15, 100%, 30%));
}

.button_draw:disabled {
  background: radial-gradient(hsl(15, 100%, 20%), hsl(15, 100%, 10%));
}

.close {
  align-self: center;
  background: radial-gradient(hsl(15, 100%, 50%), hsl(15, 100%, 40%));

  font-size: 1.4rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: solid 1px hsl(15, 100%, 20%);
  border-radius: 10px;
  height: 35px;
  width: 120px;
  z-index: 4;

  outline: none;

  box-shadow: inset 0 1px 0 hsl(15, 100%, 50%),
                    0 3px 0 hsl(15, 100%, 18%),
                    0 4px 0 hsl(15, 100%, 16%),
                    0 6px 0 hsl(15, 100%, 12%)
}

.close:hover {
  background: radial-gradient(hsl(15, 100%, 60%), hsl(15, 100%, 50%));
}

.close:active {
  background: radial-gradient(hsl(15, 100%, 40%), hsl(15, 100%, 30%));
}